/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
}
a {
	color: #2772B0;
}
.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
	background-color: #fff;
}

div img {
	width: 100%;
	max-width: 225px; 
}

/* grid system -- mobile first! */
.col-1 {
	background-color: #ffc;
}
.col-2 {
	background-color: #fcf;
}
.col-3 {
	background-color: #cff;
}
.col-4 {
	background-color: #ccf;
	
}


/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px)  {
	.col-1,
	.col-2 {
		width: 44%;
		float: left;
		margin-left: 1%;
	}

	.col-1-3 {
		width: 22%;
		float: left;
		margin-left: 1%;
	}

	.col-3 {
		width: 70%;
		float: left;
		margin-right: 1px;
	}

	

	.row::after {
		content: "";
		clear: both;
		display: table;
	}
	
}
/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
	.col-1 {
		width: 21%;
	}
}