/* base style */
.wrapper {
    width: 100%;
    background: blue;
    padding: 10px;
}

[class*="col-"] {
    min-width: 100px;
    min-height: 100px;
    background: yellow;
    
}

/* Grid */

.wrapper {
    display: grid;
    grid-gap: 10px
}
