/* Based on "Composition II in Red, Blue, and Yellow," by Piet Mondrian (1930): https://en.wikipedia.org/wiki/Piet_Mondrian */
.wrapper {
  width: 633px;
  height: 458px;
  /*background: url(mondrian2.png) no-repeat;*/
 
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 300px 90px 140px 70px;
  grid-template-rows: 90px 60px 60px 60px 140px;

  grid-template: 90px 60px 60px 60px 140px / 300px 90px 140px 70px;
  background-color: black;
}
div {
	border: 1px solid black;
	background-color: white;
	/*opacity: 0.5;*/
}
.a {
  grid-area: 1/1/5/2;
  background-color: red;
}
.b {
  grid-area: 1/2/2/3;
  background-color: yellow;
}
.c {
  grid-area: 1/3/3/4;
}
.d {
  grid-area: 1/4/2/5;
  background-color: red;
}
.e {
  grid-area: 2/2/5/3;
}
.f {
  grid-area: 3/3/4/4;
  background-color: blue;
}
.g {
	grid-area: 2/4/4/5;
}
.h {
	grid-area: 5/1/6/2;
}
.i {
  grid-area: 5/2/6/3;
  background-color: blue;
}
.j {
  grid-area: 4/3/6/5;
  background-color: yellow;
}










